.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url(/background/pexels-cottonbro-5427202.jpg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-header {
  color: white;
}

.App-intro {
  font-size: large;
}

.place-Holder {
  font-size: 24px;
  color: white;
  margin: 2rem auto 2rem auto;
}
